#add *{
	margin-top: 7px !important;
	margin-bottom: 0 !important;
}
#view{
	max-height:720px;
	overflow-y:auto;     	
}
#update *{
	margin-bottom: 0 !Important;
}

.projectContainer{
	height: 800px;
	width: 950px;
	border: 2px solid rgba(0,0,0,0.4);
	overflow: hidden auto;
}
.absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.input-field.input-outlined > textarea {
	 border: 2px solid #eee;
	 padding: 12px 16px 14px;
	 width: calc(100% - 2.5rem);
	 float: none;
	 margin-top: 10px;
	 height: 100px;
	 display: block;
	 border-radius: 4px;
	 transition: box-shadow, border-color 0.2s;
}
 .input-field.input-outlined > textarea:focus:not([readonly]) {
	 border-color: #26a69b;
	 box-shadow: 0 1px 0 0px #26a69b;
}
 .input-field.input-outlined > label {
	 z-index: unset;
	 left: 27px;
	 margin-top: 10px;
	 display: inline-flex;
	 width: auto !important;
	 transition: all 0.2s ease-in-out;
}
 .input-field.input-outlined > label.active {
	 background: white;
	 border-left: 4px solid white;
	 border-right: 4px solid white;
	 transform: translate(-10px,-1.75rem);
	 top: 1rem;
}
li.indicator{
	display: none;
 }
 .nav-a{
 	color: white !Important;
 	background: transparent !Important;
 }
 .input-field > label {
 	z-index: -1;
 }
nav {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.nav-wrapper *{
  -webkit-app-region: no-drag;
}
html,body{
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0;
}
.investigation-table{
	color: rgb(73, 70, 70);
	border-collapse: collapse;
	margin-left: 18px;
	margin-right: 18px;
}
.investigation-table td{
	height: 20px;
	width: 25%;
	border: 1px solid;
	padding: 2px !important;
	position: relative;
	outline: none;
}
.sub-heading{
	text-align: left;
	font-weight: 600;
	text-decoration: underline;
}
.table-header > td{
	font-weight: bold;
	padding-left: 10px !important;
	box-sizing: border-box;
}